@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />

        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="/lib/font-awesome/css/all.min.css"
              rel="stylesheet" />
        <title>SportsStore</title>

    </head>
    <body>
        <div class="bg-dark text-white p-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col navbar-brand">SPORTS STORE</div>
                    <div class="col-6 text-right">
                        <vc:cart-summary />
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-success">
            <span class="navbar-brand ml-2">SPORTS STORE</span>
        </div>
        <div class="row m-1 p-1">
            <div id="categories" class="col-3">
                <vc:navigation-menu />


            </div>
            <div class="col-9">
                @RenderBody()
            </div>
        </div>
    </body>
</html>

